body{
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
}
.fundo{
    background: url(background.png);
    width: 100%;
    min-height: 657px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    float: left;
    color: white;
    padding: 0;
    margin-top: 0; 
}
.header{
    height: 100px;
    width: 100%;
}
.container{
    min-width: 980px;
    height: 50px;
    padding-top: 20px;
    margin-bottom: 170px;
}
.titulo a{
    padding-left: 12%;
    margin-top: 2%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    float: left;
    text-decoration: none;
    color: #ffa500;
}
.titulo img{
    position: absolute;
    margin-left: 5%;
    width: 7%;
}

.nav{
    float: right;
    padding-right: 120px;    
}
ul{
    margin-top:30px ;
}
li{
    list-style: none;
    display: inline;
    margin-left: 20px;
    text-transform: uppercase;
}
ul a{
    text-decoration: none;    
    color: #f0ffffaa;
}
li :hover{
    color: #f0ffff;
    border-bottom:solid 2px orange;
}
.conteudo{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    padding:120px 0px 20px;
}
.btn{
    text-transform: uppercase;
    border-radius: 30px;
    color: #f0ffff;
    background-color: #b22222;
    padding: 8px;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
    text-decoration: none;
}
.button :hover{
    padding: 10px;
}
.button :active{
    background-color: brown;
    padding: 9px;
}
.updown{
    position: fixed;
    margin-left: 95%;
    top: 93%;
}
.sticky + .content{
    padding-top: 90%;
}

.sticky {
    position: fixed;
    top:    0%;
}
.sim{
    padding-top: 10px;
}
.mensagem{
    width: 35%;
    height: 100%;
    text-align: center,justify;
    border-radius: 6px;
    background-color: #363636aa;
    font-family: Arial;
}
.simulador input{
outline: none;
border-radius: 4px;
padding: 5px;
padding-left: 10px;
border:1px solid white;
background:none;
color: white;
}
.simulador button{
margin-left: 10px;
padding: 5px;
border-radius: 4px;
border:1px solid white;
outline:none;
cursor: pointer;   
background:none;
color: white;
}
.login {
    position: fixed;
    margin-top: 10%;
    margin-left: 37%;
    border-radius: 10%;
    background-color: #363636aa;
    color: #f0ffff;
    width: 25%;
    height: 60%;
    text-align: center;
    border: #363636 solid 1.5px;
    z-index: 2;
}
.titulo_login{
    margin-left: 10%;
}
.inp_login,.inp_senha{
    width: 40%;
    margin-right: 1%;
    border: 0;
    background: none;
    text-align: center;
    color:#fff;
    border: 1.5px solid #2980b9;
    padding:8px 10px;
    outline: none;
    transition: 0.3s;
    font-size: 14px;
    border-radius: 30px;
}
input[type="text"]:focus, input[type="password"]:focus{
    width: 50%;
    border-color: #ffa500;
}
.tampa{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000000d5;
    z-index: 1;
}
.btn_login{
    width: 30%;
    text-transform: uppercase;
    height: 8%;
    border: 0;
    background: none;
    text-align: center;
    color:#fff;
    border: 1.5px solid #2980b9;
    margin-left: 0;
    outline: none;
    transition: 0.3s;
    font-size: 13px;
    border-radius: 30px;
    cursor: pointer;
}
.btn_login:hover{
    background: #ffa500;
    border: none;
    }
#sair{
    float: right;
    color: white;
    margin-top: 7%;
    margin-right: 7%;
    cursor: pointer;
}